@font-face {
    font-family: "GillSansStd-Light";
    src: url(../fonts/GillSansStd-Light.otf);
}
* {
    font-family: "GillSansStd-Light";  
    padding: 0%; 
    margin: 0%;
}
/*---header---*/
h1{
    background-color: #db172b;
    color: rgb(228 208 208);
    font-size: 16px;
    text-align: center;
}
.header-container nav {
    background-color: #db172b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.header-lista{
    margin-left: auto;
    margin-right: auto;
}
.header-lista a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(228 208 208);
    font-weight: bolder;
    margin-left: 7px;
    margin-right: 7px;
    }
.header-lista a:hover {
    color: rgb(14, 12, 12);
    text-shadow: none;
}
/*---footer---*/
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.footer-container div img {
    width: 30px;
    height: auto;
}
.footer-container p{
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}
/*---seccion productos----*/
.button {
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}
/*---seccion preguntas frecuentes---*/

/*---seccion Quien Soy---*/

/*---seccion contacto---*/
